.home__bg {
    background-image: url(https://images.unsplash.com/photo-1681479818534-ddaef6fb7d06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    overflow-x: hidden;
    background-position: center;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.home-message-icon{
    margin-left: 10px;
    display: inline-block;
}