.Login__bg{
    background-image: url(https://images.unsplash.com/photo-1681572028201-0e13e0810714?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
        background-repeat: no-repeat;
        height: 92vh;
        overflow-x: hidden;
        background-position: center;

}